body {
    background-image: url('https://media.istockphoto.com/id/1042153956/photo/abstract-powder-splatted-background-paint-holi.jpg?s=612x612&w=0&k=20&c=kj1Vy-iMlK7xhJQuXUk1TqMxldZxE2GJCFxQYI7wJBk=');
    background-repeat: no-repeat;
    background-size: cover;
}
#top-header {
    display: flex;
    justify-content: center;
    margin-left: 5%;
}
#header {
    margin-top: 2%;
}
h3 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 70px;
    font-style: italic;
    color: crimson;
}
h4 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-style: italic;
    color: crimson;
}
h5 {
    text-align: center;
    font-size: 30px;
}
.hydrate {
    color: black;
}
h1 {
    margin-left: 20%;
}
/* #submit-form {
    margin-left: 30%;
} */
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
#another-one {
    float: left;
    width: 50%;
}
#edit-form {
    float: right;
    width: 50%;
    /* margin-right: 2%; */
}
#crystal-image {
    width: 1000px;
    height: 760px;
    border: dotted;
    border-color: darkgray;
    margin-left: 5%;
}
p {
    font-weight: bold;
}
#my-footer {
    margin-left: 30%;
    padding-top: 20%;
}
#drinks-display {
    float: left;
    width: 25%;
    height: 450px;
    border: dotted;
    text-align: center;
    padding-top: 2%;
    margin-left: 10%;
    overflow-x: scroll;
}
#my-display {
    float: right;
    width: 74%;
    height: 450px;
    border: dotted;
    padding-top: 2%;
    width: 900px;
    overflow-x: scroll;
    float: right;
    margin-right: 10%;
}
#another-one {
    margin-top: 3%;
}
.disp {
    color: black;
}
.newdisp {
    color: crimson;
}
.disp-list {
    color: black;
}
.card-img-top {
    padding-left: 10%;
}
#my-display [p] {
    text-align: center;
}
.card-text {
    text-align: center;
}
.card-title {
    font-size: large;
}
/* .btn {
    margin-left: 40%;
    background-color: crimson;
} */
#my-order {
    border: dotted;
    width: 50%;
    float: left;
    margin-top: 3%;
    /* margin-left: 15%;
    height: 400px; */
    text-align: center;
    height: 450px;
}
#drinks-posted {
    float: right;
    width: 45%;
    margin-top: 3%;
    margin-right: 10%;
    /* background-color: #4CAF50; */
    height: 450px;
    border: dotted;
    width: 900px;
    /* overflow-x: scroll; */
}

#orders {
    margin-top: 5%;
    font-size: 60px;
}
.orders {
    color: crimson;
}
#order-count {
    color: crimson;
    font-size: 50px;
}
#drink-name {
    font-size: 50px;
}